
/*Aimee Daugherty CSS*/
/* Layout */

body {
    min-width: 630px;
}

.animalName {
    color: green;
}

#container {
    /*	padding-left: 200px;
			padding-right: 400px; */
}

    #container .column {
        /*		position: relative;
			float: left; */
    }

#center {
    vertical-align: top;
    padding: 10px 20px;
    width: 56%;
    display: inline-block;
    display: inline-block !important;
}

#notleft {
    vertical-align: top;
    width: 180px;
    width: 20%;
    display: inline-block !important;
}


#right {
    vertical-align: top;
    width: 20%;
    display: inline-block !important;
}

#footer {
    clear: both;
}
/* IE hack */
* html #left {
    left: 150px;
}

/* Make the columns the same height as each other */
#container {
    overflow: hidden;
}

    #container .column {
        padding-bottom: 1001em;
        margin-bottom: -1000em;
    }
/* Fix for the footer */
* html body {
    overflow: hidden;
}

* html #footer-wrapper {
    /*	float: left;  */
    position: relative;
    width: 100%;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
}
/* Aesthetics */
body {
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    line-height: 1.5em;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul a {
        color: darkgreen;
        text-decoration: none;
    }

#header, #footer {
    font-size: large;
    padding: 0.3em;
    background: #BCCE98;
}

#notleft {
    background: #DAE9BC;
}

#right {
    background: #F7FDEB;
}

#center {
    background: #fff;
}

#container .column {
    padding-top: 1em;
}


.responsiveImage {
    max-width: 100%;
    height: auto;
}