/*
JavaScript 6th Edition
Project 3

Author: Randolph Chabot 
Date:   3/30/2022

Filename: contact.html

*/

body {
  font-size: 16px;
  background: #f9f9f9;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
form {
  width: 300px;
  background: #fff;
  padding: 15px 40px 40px;
  border: 1px solid #ccc;
  margin: 50px auto 0;
  border-radius: 5px;
}
.logo {
  position: relative;
  left: 21px;
  border: 3px solid #000000;
  object-fit: contain;
}
.responsive {
  position: relative;
  left: 16px;
  display: inline-block;
  
  border: 1px solid #000000;
  color: #000;
  
}
.responsive2 {
  position: relative;
  left: 10px;
  display: inline-block;
  
  border: 1px solid #000000;
  color: #000;
  
}
.responsive3 {
  position: relative;
  left: 45px;
  display: inline-block;
  color: #000;
  border: 1px solid #000000;
  
  
}
label {
  display: block;
  margin-bottom: 5px
}
label i {
  color: #999;
  font-size: 80%;
}
input, select {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}
.row {
  padding-bottom: 10px;
}
.form-inline {
  border: 1px solid #ccc;
  padding: 8px 10px 4px;
  border-radius: 2px;
}
.form-inline label, .form-inline input {
  display: inline-block;
  width: auto;
  padding-right: 15px;
}
.error {
  color: red;
  font-size: 90%;
}
input[type="submit"] {
  font-size: 110%;
  font-weight: 100;
  background: #006dcc;
  border-color: #016BC1;
  box-shadow: 0 3px 0 #0165b6;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #0165b6;
}
/* @group Mixins */
* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
}

html {
	background-color: #282e3a;
}

body {
	width: 400px;
	margin: 0 auto;
}

figure {
	margin: 30px auto;
	
	width: 128px;
	height: 111px;
	
	background-color: #ffffff;
	border-radius: 10px;
	
	position: relative;
}
	&:before {
		content: '';
		display: block;
		
		width:128px;
		height: 69px;
		
		border-radius: 10px 10px 0 0;
		
		background-image: -webkit-linear-gradient(white 0%, #edeeef 100%); 
		background-image: -moz-linear-gradient(white 0%, #edeeef 100%); 
		background-image: -o-linear-gradient(white 0%, #edeeef 100%); 
		background-image: linear-gradient(white 0%, #edeeef 100%);
  }

	
	header {
		width: 128px;
		height: 27px;
		
		position: absolute;
		top: -1px;
		
		background-color: #fa565a;
		border-radius: 10px 10px 0 0;
		border-bottom: 3px solid #e5e5e5;
		
		font: 400 15px/27px Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: 0.5px;
		color: #fff;
		
		text-align: center;
	}
	
	section {
		width: 128px;
		height: 80px;
		
		position: absolute;
		top: 28px;
		
		font: 400 55px/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: -2px;
		color: #4c566b;
		
		text-align: center;
		
		z-index: 10;
  }
		&:before {
			content: '';
			display: block;
			
			position: absolute;
			top: 35px;
						
			width: 3px;
			height: 10px;
			
			background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
		}
		
		&:after {
			content: '';
			display: block;
			
			position: absolute;
			top: 35px;
			right: 0;
						
			width: 3px;
			height: 10px;
			
			background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
		}
		
	}
}

/* @end */
