/*
JavaScript 6th Edition
Project 3

Author: Randolph Chabot 
Date:   3/30/2022

Filename: contact.html

*/

body {
  font-size: 16px;
  background: #f9f9f9;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
form {
  width: 300px;
  background: #fff;
  padding: 15px 40px 40px;
  border: 1px solid #ccc;
  margin: 50px auto 0;
  border-radius: 5px;
}
.logo {
  position: relative;
  left: 21px;
  border: 3px solid #000000;
  object-fit: contain;
}
.responsive {
  position: relative;
  left: 16px;
  display: inline-block;
  
  border: 1px solid #000000;
  color: #000;
  
}
.responsive2 {
  position: relative;
  left: 10px;
  display: inline-block;
  
  border: 1px solid #000000;
  color: #000;
  
}
.responsive3 {
  position: relative;
  left: 45px;
  display: inline-block;
  color: #000;
  border: 1px solid #000000;
  
  
}
label {
  display: block;
  margin-bottom: 5px
}
label i {
  color: #999;
  font-size: 80%;
}
input, select {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}
.row {
  padding-bottom: 10px;
}
.form-inline {
  border: 1px solid #ccc;
  padding: 8px 10px 4px;
  border-radius: 2px;
}
.form-inline label, .form-inline input {
  display: inline-block;
  width: auto;
  padding-right: 15px;
}
.error {
  color: red;
  font-size: 90%;
}
input[type="submit"] {
  font-size: 110%;
  font-weight: 100;
  background: #006dcc;
  border-color: #016BC1;
  box-shadow: 0 3px 0 #0165b6;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #000000;
}

.day {
  justify-content: center;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  border-radius: 5em;
  border-bottom: 50px solid rgb(0, 0, 0);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: auto;
  font-family: 'VG5000Regular';
  font-weight: normal;
  font-style: normal;
  justify-content: center;
  
  
}

.date {
  vertical-align: middle;
  color: #000000;
 
  font-family: 'VG5000Regular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  
  
  border-top: 50px solid rgb(0, 0, 0);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 25px solid transparent;
  justify-content: center ;
}

.Intro {
  border: double 1.5px;
  text-align: center;
}

/*BEGIN CSS FOR CLOCK_________________________________________________________________________*/
/*____________________________________________________________________________________________*/
/*Main Design Settings*/
:root {
  --size: 200px;
  --arm-width: 8.5px;
  --main-colour: #ffffffbb;
  --bg-colour: hsl(0, 0%, 0%);
  --font-colour: hsl(210, 100%, 100%);
  --primary-gradient-colour: #0935f5;
  --secondary-gradient-colour: #9d48ff;
  --total-steps: 60;
  --secs: 60s;
  --duration-secs: var(--secs);
  --mins: calc(var(--secs) * 60);
  --duration-mins: var(--mins);
  --duration-hours:  calc(var(--mins) * 12);
  --delay-seconds: 0;
  --delay-minutes: 0;
  --delay-hours: 0;
}

.clock {
  box-sizing: content-box;
  margin: 20px;
  background-color: hsl(175, 100%, 69%);
  overflow: hidden;
}


.arm {
  width: var(--arm-width);
  position: absolute;
  left: calc(var(--size)/2 - var(--arm-width)/2);
  background-color: var(--main-colour);
  transform-origin: calc(100% - var(--arm-width)/2) 100%;
  box-shadow: 2px 2px 15px 5px #00000033;
  mix-blend-mode: screen;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  transition: all 0.3s ease;
}

@keyframes move {
  to { 
    transform: rotate(360deg); 
  }
}

.arm.seconds {
  height: calc(var(--size) / 2); /* 150px */
  top: 0; /* 0px */
  animation-duration: var(--duration-secs);
  animation-delay: var(--delay-seconds);
  animation-timing-function: steps(var(--total-steps), end);
  background-image: linear-gradient(var(--main-colour) 0%, var(--primary-gradient-colour) 90%);
}

.arm.minutes {
  height: calc(var(--size) / 3); /* 100px */
  top: calc(var(--size) / 6); /* 50px */
  animation-duration: var(--duration-mins);
  animation-delay: var(--delay-minutes);
  animation-timing-function: steps(var(--total-steps), end);
  background-image: linear-gradient(var(--main-colour) 20%, var(--primary-gradient-colour) 80%);
}

.arm.hours {
  height: calc(var(--size) / 4); /* 75px */
  top: calc(var(--size) / 4); /* 75px */
  animation-duration: var(--duration-hours);
  animation-delay: var(--delay-hours);
  animation-timing-function: linear;
  background-image: linear-gradient(var(--main-colour) 10%, var(--primary-gradient-colour) 80%);
}

.clock-centre {
  opacity: 1;
  height: calc(var(--arm-width)*2);
  width: calc(var(--arm-width)*2);
  top: calc(var(--size)/2 - var(--arm-width));
  left: calc(var(--size)/2 - var(--arm-width));
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
}

arm.rounded-end {
  border-top-right-radius: calc(var(--arm-width)/2);
  border-top-left-radius: calc(var(--arm-width)/2);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /*Controls Height of Clock*/
  height: 50vh;
}

.outer-circle {
  min-width: var(--size);
  min-height: var(--size);
  position: relative;
  background-image: radial-gradient(var(--primary-gradient-colour) 10%, var(--secondary-gradient-colour) 90%);
  border: 10px solid var(--bg-colour);
  border-radius: 50%;
}

svg.segments {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
}

svg.segments > circle {
  --gap: var(--arm-width);
  /* --stroke-inc: calc(var(--arm-width)/3); */
  --pi: 3.14159;
  --segment: calc((2 * var(--pi) * var(--size)/2)/12); /* see 3 in notes.md */
  stroke: var(--main-colour);
  stroke-dasharray: calc(var(--segment) - var(--gap)) var(--gap); 
  stroke-width: 20px;
  stroke-dashoffset: calc(var(--gap)/2 * -1);
  stroke-linecap: butt;
  stroke-opacity: 1; 
  fill: none; 
}

.header {
  text-align: center;
  color: var(--font-colour);
  opacity: 0.6;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 0 0 40px 0;
  text-shadow: 0 2px 5px #000;
}

.footer {
  font-family: monospace;
  font-size: 1.3rem;
  text-align: center;
  padding: 60px 0 40px 0;
  color: var(--font-colour);
}

.footer > a {
  color: hsl(342, 60%, 60%);
}

.footer > a:hover {
  color: hsl(342, 70%, 70%);
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
  font-size: 0.875rem;
}

.fade-in {
  animation-name: fade-in-animation;
  animation-duration: 1s;
  animation-direction: forwards;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}