/*
JavaScript 6th Edition
Project 3

Author: Randolph Chabot 
Date:   3/30/2022

Filename: contact.html

*/

body {
  font-size: 16px;
  background: #f9f9f9;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
  text-align: center;
  text-decoration: underline;
}
form {
  width: 300px;
  background: #fff;
  padding: 15px 40px 40px;
  border: 1px solid #ccc;
  margin: 50px auto 0;
  border-radius: 5px;
}
.logo {
  position: relative;
  left: 21px;
  border: 3px solid #000000;
  object-fit: contain;
}
.responsive {
  position: relative;
  left: 16px;
  display: inline-block;
  
  border: 1px solid #000000;
  color: #000;
  
}
.responsive2 {
  position: relative;
  left: 10px;
  display: inline-block;
  
  border: 1px solid #000000;
  color: #000;
  
}
.responsive3 {
  position: relative;
  left: 45px;
  display: inline-block;
  color: #000;
  border: 1px solid #000000;
  
  
}
label {
  display: block;
  margin-bottom: 5px
}
label i {
  color: #999;
  font-size: 80%;
}
input, select {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}
.row {
  padding-bottom: 10px;
}
.form-inline {
  border: 1px solid #ccc;
  padding: 8px 10px 4px;
  border-radius: 2px;
}
.form-inline label, .form-inline input {
  display: inline-block;
  width: auto;
  padding-right: 15px;
}
.error {
  color: red;
  font-size: 90%;
}
input[type="submit"] {
  font-size: 110%;
  font-weight: 100;
  background: #006dcc;
  border-color: #016BC1;
  box-shadow: 0 3px 0 #0165b6;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #000000;
}

.day {
  justify-content: center;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  border-radius: 5em;
  border-bottom: 50px solid rgb(0, 0, 0);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: auto;
  font-family: 'VG5000Regular';
  font-weight: normal;
  font-style: normal;
  
  
  
  
  justify-content: center;
  
}

.date {
  vertical-align: middle;
  color: #000000;
  border-radius: 5em;
  font-family: 'VG5000Regular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  
  border-radius: 5em;
  border-top: 50px solid rgb(0, 0, 0);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 25px solid transparent;
  justify-content: center ;
}